<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="T100HardwareDialog">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>184,248</pos>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>Label</label>
				<pos>8,8</pos>
				<size>384,424</size>
			</object>
			<object class="wxListView" name="ID_LISTVIEW1" variable="ListView1" member="yes">
				<pos>24,32</pos>
				<size>352,264</size>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>Label</label>
				<pos>32,328</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
				<label>Label</label>
				<pos>144,328</pos>
			</object>
		</object>
	</object>
</wxsmith>
